# MiniApp Url
APP_URL="https://example.com"
# Node.js Server PORT
PORT="3001"
# Api key to communicate to backend, generate yours `openssl rand -base64 32`
API_SECRET_KEY=""

# XMTP Agent Sdk variables, generate using
XMTP_ENV="production" # local, dev, production
XMTP_WALLET_KEY="0x" # the private key of the wallet
XMTP_FORCE_DEBUG="false" # set to true to force detailed debugging logs
XMTP_DB_ENCRYPTION_KEY="" # (optional) a random 32 bytes encryption key for local db encryption

# Database
DATABASE_URL="libsql://db.host.turso.io"
DATABASE_AUTH_TOKEN=""

# Neynar, get yours at https://dev.neynar.com
NEYNAR_API_KEY="NEYNAR_API_DOCS"

# OpenAI api keym get yours at https://platform.openai.com
OPENAI_API_KEY="sk-proj-"

# 0x api key
ZEROX_API_KEY=""

# Pimlico Api Key, get yours at https://dashboard.pimlico.io/apikeys
PIMLICO_API_KEY="pim_"